.createPost{
    display : flex;
    align-items :center;
    justify-content: center;
    padding : 24px; 
}

createPost__loggedIn{
    background-color:  white;
}

.createPost__imageUpload > input {
    display: none;
}




createPost__uploadBtn {
border :none;
background-color:  white;

}